{% extends 'base.html.twig' %}

{% block body %}
    <h1>Info</h1>

    <table>
        <tbody>
            <tr>
                <th>Uid</th>
                <td>{{ info.uid }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ info.email }}</td>
            </tr>
            <tr>
                <th>Displayname</th>
                <td>{{ info.displayName }}</td>
            </tr>
            <tr>
                <th>Photourl</th>
                <td>{{ info.photoURL }}</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{{ info.langue }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ info.phone }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ info.ville }}</td>
            </tr>
            <tr>
                <th>Paymentmethod</th>
                <td>{{ info.paymentMethod }}</td>
            </tr>
            <tr>
                <th>Enablenotifications</th>
                <td>{% if info.enableNotifications %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('info_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('info_edit', { 'uid': info.uid }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
