{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reparations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Km</th>
                <th>Datesave</th>
                <th>Duree</th>
                <th>Cout</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reparation in reparations %}
            <tr>
                <td><a href="{{ path('reparation_show', { 'id': reparation.id }) }}">{{ reparation.id }}</a></td>
                <td>{{ reparation.km }}</td>
                <td>{% if reparation.dateSave %}{{ reparation.dateSave|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reparation.duree }}</td>
                <td>{{ reparation.cout }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reparation_show', { 'id': reparation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reparation_edit', { 'id': reparation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reparation_new') }}">Create a new reparation</a>
        </li>
    </ul>
{% endblock %}
