{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reparation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reparation.id }}</td>
            </tr>
            <tr>
                <th>Km</th>
                <td>{{ reparation.km }}</td>
            </tr>
            <tr>
                <th>Datesave</th>
                <td>{% if reparation.dateSave %}{{ reparation.dateSave|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ reparation.duree }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ reparation.cout }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reparation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reparation_edit', { 'id': reparation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
